@media (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

body {
    font-family: "Javanese Text";
    height: auto;
    margin: 0px;
    list-style: none;
    background-color: aliceblue;
    color: darkcyan;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h1 {
    margin: 20px;
}

#header {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.boto {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: solid cadetblue;
    height: 10px;
    width: 10px;
    background-color: darkcyan;
    border-radius: 20px;
    size: 10px;
    font-weight: bold;
}

#contacta {
    margin: 40px;
    height: 330px;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
}

#llicencia {
    margin: 20px;
}
#segueix {
    margin: 50px;
}
